:root {
    --main-height: 1000px;

    --loading-prog: 1116px;

    --p0: black;
    --p1: transparent;

    --replay-icon: #ffffff33;
    --replay-icon-hover: #ffffff80;

    --pause-icon: #ffffff33;
    --pause-icon-hover: #ffffff80;

    --sound-icon: #ffffffe4;
    --sound-icon-hover: #ffffffe4;

    --settings-icon: #ffffff33;
    --settings-icon-hover: #ffffff80;
    
    --exit-icon: #ff737337;
    --exit-icon-hover: #ff737380;

    --prev-arrow: #ffffff33;
    --prev-arrow-hover: #ffffff80;
    
    --next-arrow: #ffffffcd;
    --next-arrow-hover: #ffffffe4;
}

#info {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 10px;
    margin-top: 90px;
    padding: 0.25em;
    color: white;
    background: rgba(0, 0, 0, 0.58);
    white-space: pre;
    font-family: monospace;
    display: none;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    /* position: fixed; */
    /* height: 100%; */
    /* width: 100%; */
}

::selection {
    background: #65FFA0; /* WebKit/Blink Browsers */
    color: #000;
}
::-moz-selection {
    background: #65FFA0; /* Gecko Browsers */
    color: #000;
}

.bg-blur {
    /*background-color:  red;*/
    background-image: url('Images/BG_Blur_2.webp');
    /*background-repeat: no-repeat;*/
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;

    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
}

.group-container {
    /*background-color: #e5ff00;*/
    display: flex;
    width: 100%;
    max-width: 1150px;
    height: 100%;

    margin-left: auto;
    margin-right: auto;
}

.settings-column {
    /* background-color: #00ff37; */
    height: 100%;
    flex: 0.45;
    display: flex;
    flex-direction: column;

}

.settings-block {
    /* background-color: #ff006f; */
    margin-top: 130px;
    max-height: 690px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-bottom: 25px;
}

.settings-buttons {
    /* background-color: rgb(91, 91, 248); */
    width: 60px;
    height: 100%;
    max-height: 170px;
    align-self: flex-end;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    position: relative;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-right: 35px;
}

.pause-svg-cont {
    width: 33px;
}
#path1695 {
    fill: var(--replay-icon);
    pointer-events: none;
}
@keyframes pause_hover { 0% { fill: var(--pause-icon); } 100% { fill: var(--pause-icon-hover); } }
@keyframes pause_unhover { 0% { fill: var(--pause-icon-hover); } 100% { fill: var(--pause-icon); } }

.replay-svg-cont {
    width: 33px;
}
#path11457 {
    fill: var(--pause-icon);
    pointer-events: none;
}
@keyframes replay_hover { 0% { fill: var(--replay-icon); } 100% { fill: var(--replay-icon-hover); } }
@keyframes replay_unhover { 0% { fill: var(--replay-icon-hover); } 100% { fill: var(--replay-icon); } }

.volume-cont {
    animation: none;
    /* background-color: rgba(127, 255, 212, 0.369); */
    width: 50px;
    height: 50px; /* Adjusts Height 170-50*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 2;
    margin-top: 0px;
}

.volume-slider-cont {
    /* background-color: blueviolet; */
    flex: 2;
    max-height: 200px; /* Adjusts Height */
    display: grid;
    place-items: center;
}


.volume-slider {
    -webkit-appearance: none; /* Chromium */
    appearance: none;
    height: 3px;
    width: 81px;
    border-radius: 5px;
    z-index: 1;
    transform: rotate(90deg);
    translate: -23px;
    display: none;
}

input[type=range]::-webkit-slider-runnable-track{
    background: white;
    border: none;
    height: 3px;
    width: 81px;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: white;
    margin-top: -6.5px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: white;
}



input[type=range]{
    /* fix for FF unable to apply focus style bug  */
    animation: none;
    border: 1px solid white;
    border: none;
    height: 3px;
    width: 81px;
}
input[type=range]::-moz-range-track {
    height: 3px;
    width: 81px;
    background: white;
    border: none;
    border-radius: 5px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: white;
}
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}
input[type=range]:focus::-moz-range-track {
    background: #ffffff;
}

.volume-icon {
    flex: 1;
    /* background-color: rgba(250, 235, 215, 0.215); */
    width: 50px;
    height: 50px;
    max-height: 50px;
    min-height: 50px;
    display: grid;
    place-items: center;
}

.sound-svg-cont {
    width: 33px;
}

.s-button-cont {
    /* background-color: rgba(250, 235, 215, 0.215); */
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    margin-top: -20px;
    z-index: 2;
}

.s-button-cont-top{
    /* background-color: rgba(250, 235, 215, 0.215); */
    width: 50px;
    height: 45px;
    display: grid;
    place-items: center;
    z-index: 2;
}

.video-controls {
    /* background-color: rgba(114, 17, 210, 0.215); */
    width: 60px;
    align-self: flex-end;
    margin-right: 35px;
    margin-bottom: -13px;
    display: grid;
    place-items: center;
    
}
@keyframes vc_spacing_hover { 0% { margin-bottom: -13px; } 100% { margin-bottom: -49px; } }
@keyframes vc_spacing_unhover { 0% { margin-bottom: -49px; } 100% { margin-bottom: -13px; } }

.settings-svg-cont {
    width: 33px;
}

.exit-svg-cont {
    width: 35px;
}

.s-outline-cont {
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 300px;
    /* background-color: rgb(217, 255, 0, 0.5); */
}

#svg5803 {
    width: auto;
    height: 100%;
}
#path5649 {
    fill: rgba(255, 255, 255, 0.1) !important;
}


#path2820{
    /* fill: rgba(255, 255, 255, 0.91) !important; */
    fill: rgba(255, 255, 255, 0.91);
}
@keyframes sound_hover { 0% { fill: var(--sound-icon); } 100% { fill: var(--sound-icon-hover); } }
@keyframes sound_unhover { 0% { fill: var(--sound-icon-hover); } 100% { fill: var(--sound-icon); } }

#path3969 { /*Settings Icon*/
    fill: var(--settings-icon);
    pointer-events: none;
}
@keyframes settings_hover { 0% { fill: var(--settings-icon); } 100% { fill: var(--settings-icon-hover); } }
@keyframes settings_unhover { 0% { fill: var(--settings-icon-hover); } 100% { fill: var(--settings-icon); } }

#path4373 {
    fill: rgba(255, 115, 115, 0.215);
    pointer-events: none;
}
@keyframes exit_hover { 0% { fill: var(--exit-icon); } 100% { fill: var(--exit-icon-hover); } }
@keyframes exit_unhover { 0% { fill: var(--exit-icon-hover); } 100% { fill: var(--exit-icon); } }


@keyframes hide_slider {
    0% {
        height: 150px;
        margin-top: 30px;
    }
    100% {
        height: 50px;
        margin-top: 0px;
    }
}
@keyframes show_slider {
    0% {
        height: 50px;
        margin-top: 0px;
    }
    100% {
        height: 150px;
        margin-top: 30px;
    }
}

@keyframes grow_sb {
    0%{
        max-height: 170px;
    }
    100%{
        max-height: 300px;
    }
}
@keyframes shrink_sb {
    0%{
        max-height: 300px;
    }
    100%{
        max-height: 170px;
    }
}

@keyframes grow_track {
    0%{
        opacity: 0%;
        width: 41px;
        translate: 2px;
    }
    100%{
        opacity: 100%;
        width: 81px;
        translate: -18px;
    }
}
@keyframes shrink_track {
    0%{
        opacity: 100%;
        width: 81px;
        translate: -18px;
    }
    100%{
        opacity: 0%;
        width: 41px;
        translate: 2px;
    }
}


.main-column {
    background-color: rgb(0, 0, 0);
    height: 100%;
    flex: 2;
    max-width: calc(var(--main-height) * 0.799573561);
    overflow: hidden;
    position: relative;
}

.loading-cont {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    place-items: center;
}
@keyframes fade_up_main{
    0%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
}

.loading-svg-cont {
    /* background-color: rgb(108, 10, 169); */
    width: 130px;
    height: 130px;
}

#main-id{
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    user-select: none;
}

.main-canvas{
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    user-select: none;
}

#Mask-2 path{
    stroke-dashoffset: var(--loading-prog);
}
@keyframes big-leaf_o { 0% { opacity: 0.25; } 100% { opacity: 1; } }
@keyframes small-leaf_o { 0% { opacity: 0.25; } 100% { opacity: 1; } }


.para-column {
    /* background-color: #3ff; */
    height: 100%;
    flex: 1.34;
    display: flex;
    flex-direction: column;
}

/*
@property --p0 {
    syntax: '<color>';
    inherits: false;
    initial-value: transparent;
}
@property --p1 {
    syntax: '<color>';
    inherits: false;
    initial-value: black;
}
*/

.para-block {

    /* background-color: rgb(235, 51, 255); */
    margin-top: 130px;
    height: 100%;
    max-height: 640px;
    overflow: scroll;

    scrollbar-color: red;

    background: none;
    /* overflow: hidden; */
    -webkit-mask-image: linear-gradient(to bottom, var(--p0) 0%, black 20%, black 80%, var(--p1) 99%);
        mask-image: linear-gradient(to bottom, var(--p0) 0%, black 20%, black 80%, var(--p1) 99%);
}

@keyframes fade_para_top {
    0% {
        --p0: transparent;
        --p1: black;
    }
    100% {
        --p0: black;
        --p1: transparent;
    }
}
@keyframes fade_para_bottom {
    0% {
        --p0: black;
        --p1: transparent;
    }
    100% {
        --p0: transparent;
        --p1: black;
    }
}

/*
@keyframes fade_para_top {
    0%{
        -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 99%);
        mask-image: linear-gradient(to bottom, black 80%, transparent 99%);
    }
    100%{
        -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 20%);
        mask-image: linear-gradient(to bottom, transparent 0%, black 20%);
    }
}
@keyframes fade_para_bottom {
    0%{
        -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 20%);
        mask-image: linear-gradient(to bottom, transparent 0%, black 20%);
    }
    100%{
        -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 99%);
        mask-image: linear-gradient(to bottom, black 80%, transparent 99%);
    }
}
*/


.para-block::-webkit-scrollbar{
    display: none;
}

@supports(scrollbar-width: none){
    * {
        scrollbar-width: none;
    }
}

.page-para p {
    position: relative;
    display: block;
    color: #ffffff;
    margin-left: 30.25px;
    margin-right: 20.25px;
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
    line-height: 1.25rem;
    text-indent: 20px;
    font-family: 'STIX Two Text', serif;
    font-size: 0.96rem;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    -webkit-user-select: none;
    user-select: none;
}

.controls-block {
    /* background-color: bisque; */
    width: 100%;
    height: 100px;
    min-height: 100px;
    display: flex;
}

.prev-arrow {
    /* background-color: brown; */
    margin-left: 10px;
    padding-top: 15px;
    width: 70px;
    height: 70px;

    display: grid;
    place-items: center;
    z-index: 2;
}

.prev-svg-cont {
    width: 30px;
}
@keyframes prev_hover { 0% { fill: var(--prev-arrow); } 100% { fill: var(--prev-arrow-hover); } }
@keyframes prev_unhover { 0% { fill: var(--prev-arrow-hover); } 100% { fill: var(--prev-arrow); } }

#path4865{
    fill: rgba(255, 0, 255, 0.853);
}

.next-arrow {
    /* background-color: goldenrod; */
    width: 70px;
    height: 70px;
    padding-top: 15px;

    display: grid;
    place-items: center;
    z-index: 2;
}

.next-svg-cont {
    width: 30px;
}
@keyframes next_hover { 0% { fill: var(--next-arrow); } 100% { fill: var(--next-arrow-hover); } }
@keyframes next_unhover { 0% { fill: var(--next-arrow-hover); } 100% { fill: var(--next-arrow); } }

/*
#svg5800 path {
    fill: rgba(255, 255, 255, 0.1853) !important;
}
*/
.page-number {
    flex: 1;
    height: 100px;
    width: 100px;
    /* background-color: rgb(218, 32, 122); */

    display: flex;
    justify-content: flex-end;

    color: #ffffff52;
    font-family: 'STIX Two Text', serif;
    font-size: 0.96rem;
    line-height: 20px;
    text-align: left;
}

.page-number i {
    padding-right: 45px;
    margin-top: auto;
    margin-bottom: auto;
    -webkit-user-select: none;
    user-select: none;
}



.ol {
    position: fixed;
    background-color: #fafafa;
    width: 100%;
    height: 100%;
    z-index: 11;
}
.ol-b {
    float: right;
    height: 100%;
    width: 20px;
    opacity: 10%;
}