:root {
    --p0: black;
    --p1: transparent;
    --settings-icon: #ffffff33;
    --settings-icon-hover: #ffffff80;
    --exit-icon: #ff737337;
    --exit-icon-hover: #ff737380;
}

body {
    padding: 0;
    margin: 0;
}

::selection {
    background: #65FFA0; /* WebKit/Blink Browsers */
    color: #000;
}
::-moz-selection {
    background: #65FFA0; /* Gecko Browsers */
    color: #000;
}

.bg-blur {
    /*background-color:  red;*/
    background-image: url('Images/BG_Blur_1.webp');
    /*background-repeat: no-repeat;*/
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.65);
    background-blend-mode: multiply;

    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
}

.group-container {
    /*background-color: #e5ff00;*/
    display: flex;
    width: 100%;
    max-width: 1150px;
    height: 100%;

    margin-left: auto;
    margin-right: auto;
}

.settings-column {
    /* background-color: #00ff37; */
    height: 100%;
    flex: 0.45;
    display: flex;
    flex-direction: column;

}

.settings-block {
    /* background-color: #ff006f; */
    margin-top: 130px;
    max-height: 690px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25px;
}

.settings-buttons {
    /* background-color: blue; */
    width: 60px;
    height: 100%;
    max-height: 300px;
    align-self: flex-end;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    position: relative;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-right: 35px;
}

.volume-cont {
    animation: none;
    /* background-color: rgba(127, 255, 212, 0.369); */
    width: 50px;
    height: 170px; /* Adjusts Height 170-50*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 2;

}

.volume-slider-cont {
    /* background-color: blueviolet; */
    flex: 2;
    max-height: 200px; /* Adjusts Height */
    display: grid;
    place-items: center;
}


.volume-slider {
    -webkit-appearance: none; /* Chromium */
    appearance: none;
    height: 3px;
    width: 81px;
    border-radius: 5px;
    z-index: 1;
    transform: rotate(90deg);
    translate: -23px;
}

input[type=range]::-webkit-slider-runnable-track{
    background: white;
    border: none;
    height: 3px;
    width: 81px;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: white;
    margin-top: -6.5px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: white;
}



input[type=range]{
    /* fix for FF unable to apply focus style bug  */
    animation: none;
    border: 1px solid white;
    border: none;
    height: 3px;
    width: 81px;
}
input[type=range]::-moz-range-track {
    height: 3px;
    width: 81px;
    background: white;
    border: none;
    border-radius: 5px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: white;
}
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}
input[type=range]:focus::-moz-range-track {
    background: #ffffff;
}

.volume-icon {
    flex: 1;
    /* background-color: rgba(250, 235, 215, 0.215); */
    width: 50px;
    height: 50px;
    max-height: 50px;
    min-height: 50px;
    display: grid;
    place-items: center;
}

.sound-svg-cont {
    width: 33px;
}

.s-button-cont {
    /* background-color: rgba(250, 235, 215, 0.215); */
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    margin-top: -20px;
    z-index: 2;
}

.settings-svg-cont {
    width: 33px;
}

.exit-svg-cont {
    width: 35px;
}

.s-outline-cont {
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 300px;
    /* background-color: rgb(217, 255, 0, 0.5); */
}

#svg5803 {
    width: auto;
    height: 100%;
}
#path5649 {
    fill: rgba(255, 255, 255, 0.1) !important;
}


#path2820{
    fill: rgba(255, 255, 255, 0.91) !important;
}
#path3969 { /*Settings Icon*/
    fill: var(--settings-icon);
    pointer-events: none;
}
@keyframes settings_hover { 0% { fill: var(--settings-icon); } 100% { fill: var(--settings-icon-hover); } }
@keyframes settings_unhover { 0% { fill: var(--settings-icon-hover); } 100% { fill: var(--settings-icon); } }

#path4373 {
    fill: rgba(255, 115, 115, 0.215);
    pointer-events: none;
}
@keyframes exit_hover { 0% { fill: var(--exit-icon); } 100% { fill: var(--exit-icon-hover); } }
@keyframes exit_unhover { 0% { fill: var(--exit-icon-hover); } 100% { fill: var(--exit-icon); } }


@keyframes hide_slider {
    0% {
        height: 150px;
        margin-top: 30px;
    }
    100% {
        height: 50px;
    }
}
@keyframes show_slider {
    0% {
        height: 50px;
    }
    100% {
        height: 150px;
        margin-top: 30px;
    }
}

@keyframes grow_sb {
    0%{
        max-height: 170px;
    }
    100%{
        max-height: 300px;
    }
}
@keyframes shrink_sb {
    0%{
        max-height: 300px;
    }
    100%{
        max-height: 170px;
    }
}

@keyframes grow_track {
    0%{
        opacity: 0%;
        width: 41px;
        translate: 2px;
    }
    100%{
        opacity: 100%;
        width: 81px;
        translate: -18px;
    }
}
@keyframes shrink_track {
    0%{
        opacity: 100%;
        width: 81px;
        translate: -18px;
    }
    100%{
        opacity: 0%;
        width: 41px;
        translate: 2px;
    }
}


.main-column {
    background-color: rgb(158, 84, 107);
    height: 100%;
    flex: 2;
}

.para-column {
    /* background-color: #3ff; */
    height: 100%;
    flex: 1.34;
    display: flex;
    flex-direction: column;
}

/*
@property --p0 {
    syntax: '<color>';
    inherits: false;
    initial-value: transparent;
}
@property --p1 {
    syntax: '<color>';
    inherits: false;
    initial-value: black;
}
*/

.para-block {

    margin-top: 130px;
    max-height: 640px;
    /* background-color: rgb(235, 51, 255); */
    overflow: scroll;

    scrollbar-color: red;

    background: none;
    /* overflow: hidden; */
    -webkit-mask-image: linear-gradient(to bottom, var(--p0) 0%, black 10%, black 90%, var(--p1) 99%);
        mask-image: linear-gradient(to bottom, var(--p0) 0%, black 10%, black 90%, var(--p1) 99%);
}

@keyframes fade_para_top {
    0% {
        --p0: transparent;
        --p1: black;
    }
    100% {
        --p0: black;
        --p1: transparent;
    }
}
@keyframes fade_para_bottom {
    0% {
        --p0: black;
        --p1: transparent;
    }
    100% {
        --p0: transparent;
        --p1: black;
    }
}

/*
@keyframes fade_para_top {
    0%{
        -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 99%);
        mask-image: linear-gradient(to bottom, black 80%, transparent 99%);
    }
    100%{
        -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 20%);
        mask-image: linear-gradient(to bottom, transparent 0%, black 20%);
    }
}
@keyframes fade_para_bottom {
    0%{
        -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 20%);
        mask-image: linear-gradient(to bottom, transparent 0%, black 20%);
    }
    100%{
        -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 99%);
        mask-image: linear-gradient(to bottom, black 80%, transparent 99%);
    }
}
*/


.para-block::-webkit-scrollbar{
    display: none;
}

@supports(scrollbar-width: none){
    * {
        scrollbar-width: none;
    }
}

.page-para p {
    position: relative;
    display: block;
    color: #ffffff;
    margin-left: 30.25px;
    margin-right: 20.25px;
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
    line-height: 1.25rem;
    text-indent: 20px;
    font-family: 'STIX Two Text', serif;
    font-size: 0.96rem;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.controls-block {
    /* background-color: bisque; */
    width: 100%;
    height: 100px;
    min-height: 100px;
    display: flex;
}

.prev-arrow {
    /* background-color: brown; */
    margin-left: 10px;
    width: 70px;
    height: 100px;

    display: grid;
    place-items: center;
}

.prev-svg-cont {
    width: 30px;
}

.next-arrow {
    /* background-color: goldenrod; */
    width: 70px;
    height: 100px;

    display: grid;
    place-items: center;
}

.next-svg-cont {
    width: 30px;
}
#svg5800 path {
    fill: rgba(255, 255, 255, 0.1853) !important;
}

.page-number {
    flex: 1;
    height: 100px;
    width: 100px;
    /* background-color: rgb(218, 32, 122); */

    display: flex;
    justify-content: flex-end;

    color: #ffffff52;
    font-family: 'STIX Two Text', serif;
    font-size: 0.96rem;
    line-height: 20px;
    text-align: left;
}

.page-number i {
    padding-right: 45px;
    margin-top: auto;
    margin-bottom: auto;
}